html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bg-main-gradient {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    180deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(19, 25, 55, 1) 59%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    180deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(19, 25, 55, 1) 59%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    180deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(19, 25, 55, 1) 59%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131937', endColorstr='#0A0A0A', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    180deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(19, 25, 55, 1) 59%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    180deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(19, 25, 55, 1) 59%
  );
}

.bg-second-gradient {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    330deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(19, 25, 55, 1) 59%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    330deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(19, 25, 55, 1) 59%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    330deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(19, 25, 55, 1) 59%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0A0A0A', endColorstr='#131937', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    330deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(19, 25, 55, 1) 59%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    330deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(19, 25, 55, 1) 59%
  );
}
